<header class="header">
    <div class="menu_icon"[class.menu_icon_Class]="menu_icon_variable" (click)="openMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="logo-header">
      <a class="link-dashboard" routerLink="/dashboard"><img src="../../../assets/images/logo-inicial.png" alt="Logotipo inicial de la marca"></a>
    </div>
      <div>
        <ul class="nav-links" [class.menuClass]="menuVariable">
          <li>
            <a routerLink="/tienda">Productos
            </a>
            <a class="link-dashboard" routerLink="/dashboard/products/new">Producto nuevo
            </a>
          </li>
          <li>
            <a routerLink="/talleres">Talleres
            </a>
          </li>
          <li><a routerLink="/servicios">Servicios</a></li>
        </ul>
      </div>
        <a (click)="logout()" class="btn"><button>Logout</button></a>
    </header>