
<!-- todo:  aside -->
<div class="container">
    <app-aside class="aside"></app-aside>  
    <div class="cards">
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
    </div>

</div>