<h2>Titulo pendiente</h2>
<!-- todo:  aside -->
<app-aside class="aside"></app-aside>  
<div class="content_store">
    <div class="cards">
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
        <app-cards class="card"></app-cards>
    </div>
</div>
