*{
    min-height: 100%;
}
h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem ;
}
.container{
    text-align: center;
    margin: 0rem;
}

.cards {
    margin: 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    overflow-x: auto;
}

@media ( min-width: 568px ) {
  .cards {
    flex-direction: row;
  }
}

@media ( min-width: 568px ) {
  .cards {
    gap: 1rem;
  }
}

