h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem ;
}
.container{
    text-align: center;
    margin: 0rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.card {
    margin: .6rem;
}