<div class="taller">
    <div class="img">
        <img class="img-taller" src="./assets/images/taller1.jpg" alt="">
    </div>
    <div class="taller-info">
        <h3 class="taller-title">Taller Cartoon Nail Online</h3>
        <p class="taller-text">Los colores primarios, como el rojo,<br> el azul y el  amarillo, actúan como la piedra  angular <br>de la creación artística, permitiéndote combinarlos para <br>formar una paleta de colores infinita.</p>
        <button class="taller-btn"> más informacion</button>
    </div>
</div>
