<ul class="menu-dashboard">
  <ul class="list-dashboard"> PRODUCTOS
      <li class="list-link"><a class="link-dashboard" routerLink="/dashboard/products">Mis productos</a></li>
      <li class="list-link"><a class="link-dashboard" routerLink="/dashboard/products/new">Nuevo Producto</a></li>
      <li class="list-link"><a class="link-dashboard" routerLink="/dashboard/products/update/:id">actualizar producto</a></li>
  </ul>

  <ul class="list-dashboard"> SERVICIOS
    <li class="list-link"><a class="link-dashboard" routerLink="/dashboard/servicios"> mis servicios</a></li>
    <li class="list-link"><a class="link-dashboard" routerLink="/dashboard/servicios/new-service">nuevo servicio</a></li>
    <li class="list-link"><a class="link-dashboard" routerLink="/dashboard/servicios/update/:id">actualizar servicio</a></li>
  </ul>

  <ul class="list-dashboard"> TALLERES
    <li class="list-link"> <a class="link-dashboard" routerLink="/dashboard/talleres">mis talleres</a></li>
    <li class="list-link"> <a class="link-dashboard" routerLink="/dashboard/talleres">nuevo taller</a></li>
    <li class="list-link"> <a class="link-dashboard" routerLink="/dashboard/talleres">actualizar taller</a></li>
  </ul>


  <li class="list-dashboard">
      <a *ngIf="user.role == 'admin'" routerLink="/no-existe">No existe</a>
  </li>
</ul>

<router-outlet></router-outlet>
