.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  background-color: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.list-item{
  color: purple;
  font-size: 1rem;
}
.list-dashboard{
  margin: 1rem;
}

.list-link{
  list-style: none;
}
.link-dashboard {
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  transition: background-color 0.3s ease;
}

.link-dashboard:hover {
  background-color: #fff4f4;
  color: rgb(255, 121, 107);
}

