.navegacion{
	width: 100%;
	margin: 0 0 5rem 0;
	background: whitesmoke;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
	list-style: none;
}

.menu-list{
	position: relative;
	display: inline-block;
  width: 20%;
}

.link-dashboard{
	display: block;
	padding: 15px;
	color: black;
	font-family: 'Open sans';
	text-decoration: none;
  font-size: 1rem;
}

.menu li a:hover{
	transition: all .3s;
}

/* Submenu*/

.submenu{
  display: block;
  list-style: none;
	position: absolute;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity .8s;
}

.submenu li a{
	display: block;
	padding: 8px;
  background: whitesmoke;
	color: black;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
