<div class="servicio-principal">
  <div class="servicio-outter">
    <div class="servicio-inner">
      <div class="principal">
        <!-- Lista de productos -->
        <div class="Service" *ngFor="let number of Services">
          <div class="img-img">
            <img class="img-img" src="../../../assets/images/serimagen5.jpg" alt="Producto">
          </div>
          <div class="content-producto">
            <!-- Información del producto -->
            <div class="informacion">
              <h2 class="titu">Semipermanente Carta da Zucchero</h2>
              <p class="descripcion">Desde...</p>
              <p class="precio">$ 60.000</p>
            </div>
            <!-- Acción del producto -->
            <div class="action">
              <button class="inscribirme agregar"><a routerLink="/agenda-una-cita">agendar</a></button>
            </div>
          </div>
        </div>
        
        <!-- Enviar Mensaje -->
        <div class="producto">
          <div class="informacion">
            <p class="descripcion">¿Buscas algo más?</p>
            <p class="descripcion">Envíale un mensaje a Nailart.Nataly</p>
            <button class="inscribirme agregar">Enviar mensaje</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="service.length > 0; then thereAreservices else nonservices"></div>
<ng-template #thereAreservices>
    <div class="service-container">
    <app-card-services
        *ngFor="let service of service"
        [service]="service"
    >
    </app-card-services>
</div>

</ng-template>

<ng-template #nonservices>No hay servicios registrados</ng-template>

<div class="service">
    <div class="informacion">
        <p class="descripcion">¿Buscas algo más?</p>
        <p class="descripcion">Enviale un mensaje a Nailart.Nataly</p>
        <button class="inscribirme agregar">Enviar mensaje</button>
    </div>
</div>
