<div *ngIf="products.length > 0; then thereAreProducts else nonProducts"></div>
<ng-template #thereAreProducts>
    
    <app-card-services
        *ngFor="let product of products"
        [product]="product"
    >

    </app-card-services>

</ng-template>

<ng-template #nonProducts>No hya productos registrados</ng-template>





<div class="producto">
    <div class="informacion">
        <p class="descripcion">¿Buscas algo más?</p>
        <p class="descripcion">Enviale un mensaje a Nailart.Nataly</p>
        <button class="inscribirme agregar">Enviar mensaje</button>
    </div>
</div>