
.service-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:#f27e938e;
    justify-content: space-around;


}
.service {
    display: flex;
    flex-basis: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}

/* Estilos para la sección principal */
.principal {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* Estilos para la imagen del producto */
.img-img {
    display: flex;
    border-radius: 7%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

/* Estilos para la información del producto */

.informacion {
    flex-grow: 1;
    padding: 10px;
    align-items: baseline;
    display: flex;
    flex-direction: column;
}

/* Estilos para el título del producto */
.titu {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

/* Estilos para la descripción del producto */

.descripcion {
    font-size: 14px;
    margin: 5px 0;
}

/* Estilos para el precio del producto */
.precio {
    font-size: 20px;
    font-weight: bold;
    color: #f03ed8;
    margin: 0;
    margin-top: 1rem;
    font-weight: bolder;
}

/* Estilos para el contenido del producto */
.content-producto {
    display: flex;
    align-items: center;
}

/* Estilos para el botón de inscribirse */



.inscribirme.agregar {
    margin: 0;
}

.inscribirme {
    margin-top: 10px;
    font-weight: 700;
    color: #894DAD;
    padding: 9px 25px;
    background: #da62ac;
    border: none;
    margin-left: 30%;
    margin-right: 30%;
}

.inscribirme:hover {
    opacity: 1;
    transition: 0,1s ease-in-out;
    transform: scale(1.1);
    text-decoration: none;
}

/* Estilos para la sección de requerimientos */
.requerimientos-principal {
    background-color: #ffdcdc8e;
}

.requerimientos-outter {
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
}

/* Estilos para la sección de servicio */
.servicio-principal {
    background-color: #f27e938e;
}

.servicio-outter {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* Media Queries */
@media (min-width: 567px) {



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/** Dispositivos mas grandes */
@media ( min-width: 567px ) {
    .service {
        flex-basis: 46%;
    }
}


@media ( min-width: 992px ) {
    .service {
        flex-basis: 30%;
    }
}}
