@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
}
.mat-typography{
  min-height: 100%;
}
<<<<<<< HEAD

body { 
=======
body{
>>>>>>> f4017423681e7025837a1daa55cb03ed669716db
    background-color: #FFF6F4 ;
    margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.image-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

