.card {
    border: 1px solid #e0e0e0;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.5s;
    width: 100%;
    max-width: 220px;
    max-height: 400px;
    height: 100%;
    overflow: hidden;
    margin: 2rem 1rem;
  }

  .card-img{
    transform: scale(1);
    transition: transform 0.6s;
    width: 100%;
    max-width: 360px;
    max-height: 250px;
    height: 100%;
    /* border-radius: 8px; */
  }
  .card-img:hover {
    transform: scale(1.1);
  }

  .card-info {
    padding: 8px;
  }
  h3{
    margin: .4rem;
  }

  .card-p {
    color: #666;
    font-size: 1em;
    letter-spacing: 2px;
    margin: 8px 0;
  }

  .card-price {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0 .4rem;
  }

  .card-btn {
    background-color: rgb(255, 168, 158);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .8rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .card-btn:hover {
    background-color: rgb(253, 162, 152);
  }

  @media (max-width: 700px) {
    .card {
      max-width: 120px;
      max-height: 210px;
      margin: 1rem;
    }
    .card-img{
      max-height: 120px;
    }
    .card-info {
      padding: 3px;
    }
    .card-p {
      font-size: .4rem;
      margin: 6px 2px;
    }
    .card-price {
      font-size: .5rem;
      margin: 0 .4rem;
    }
    .card-btn {
      padding: 5px 10px;
      font-size: .3rem
    }
  }



