<h2>Lista de Talleres</h2>

<ng-container *ngIf="talleres && talleres.length > 0; then tallerList; else noTalleres">
</ng-container>

<ng-template #tallerList>
  <h3>Talleres registrados</h3>

  
  <table>
    <thead>
      <tr class="tri">
        <th>Preview</th>
        <th scope="col">Name and Description</th>
        <th scope="col">Category</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let taller of talleres">
        <td scope="row">
          <img class="taller__image" [src]="taller.urlImage" [alt]="taller.name">
        </td>
        <td>
          <h3>{{ taller.name }}</h3>
          <p class="taller__description">{{ taller.description }}</p>
        </td>
        <td>{{ taller.price }}</td>
        <td>
          <!-- <button
            class="btn btn-update"
            (click)="update( taller._id )"
          >
            Edit
          </button> -->
          <button
            class="btn btn-delete"
            (click)="remove( taller._id )"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row">Totals</th>
        <td></td>
        <td></td>
        <td>16</td>
        <td>2050</td>
        <td>16750</td>
        <th scope="row">Actions</th>
      </tr>
    </tfoot>
  </table>


</ng-template>

<ng-template #noTalleres>
  <h3>No has registrado talleres</h3>
</ng-template>