<main>
  <!-- <pre>{{product| json}}</pre> -->
      <div class="temario-outter">
        <div class="temario-inner">
          <div class="principal">
            <div class="producto">
              <div class="img-img">
                <img class="img-img" [src]="product.url" alt="Producto">
              </div>
              <div class="content-producto">
                <div class="informacion">
                  <h2 class="titu">{{product.titulo}}</h2>
                  <p class="descripcion">Desde...</p>
                  <p class="precio">{{product.price}}</p>
                  <p class="precio-antes">{{product.price1}}</p>
                </div>
                <div class="action">
                  <button class="inscribirme agregar"><a href="#">agendar</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
  