<main>
  <!-- <pre>{{service| json}}</pre> -->
      <div class="temario-outter">
        <div class="temario-inner">
          <div class="principal">
            <div class="service">
              <div class="img-img">
                <img class="img-img" [src]="service.urlImage" alt="service">
              </div>
              <div class="content-service">
                <div class="informacion">
                  <h2 class="titu">{{service.name}}</h2>
                  <p class="descripcion">{{ service.description }}</p>
                  <!-- <p class="precio"> $ {{ service.price | currency:'USD':'symbol':'1.0-0' }}</p> -->
                  <p class="precio-antes"> $ {{service.price1}}</p>
                </div>
                <div class="action">
                  <button class="inscribirme agregar"><a href="#" style="text-decoration: none;">agendar</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
<div class="modern-card">
  <div class="card-img">
    <img class="img-img" [src]="service.urlImage" alt="service">
  </div>
  <div class="card-content">
    <div class="card-info">
      <h2 class="card-title">{{service.name}}</h2>
      <p class="card-description">{{ service.description }}</p>
      <!-- <p class="card-price"> $ {{ service.price | currency:'USD':'symbol':'1.0-0' }}</p> -->
    </div>
    <div>
      <button class="card-action" (click)="agendarServicio(service.name)">Agendar</button>
    </div>
  </div>
</div>
