<p>update-service works!</p>
<form class="form form-service"
[formGroup]="serviceForm"
(ngSubmit)="updateService()"
autocomplete="off">
    <h2>Actualiza Servicio</h2>
    <p>iligencia cada uno de los campos según sean requeridos.</p>
    <div class="field">
        <label for="name">Titulo</label>
        <input
        id="name"
        class="input-field" 
        type="text"
        formControlName="name"
        placeholder="Nombre del servicio"
        minlength="3"
        />
        <div
        *ngIf="serviceForm.get('name')?.invalid && (serviceForm.get('name')?.dirty || serviceForm.get('name')?.touched)"
        class="error-message"
        >
        <small *ngIf="serviceForm.get('name')?.errors?.['required']"></small>
    </div>
    </div>
</form>